body{
    margin: 0;
    padding: 0;
    background-color: rgb(21, 21, 21);
    color: white;
    font-family: "DynaPuff", system-ui;
    font-optical-sizing: auto;
    font-style: normal;
}

h1{
    text-align: center;
    color: aqua;
}

#instruciones{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

#boton-container{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
    font-family: "DynaPuff", system-ui;
    background-color: black;
    color: white;
    border-radius: 20px;
    margin-top: 16px;
    padding-block: 1.2vh;
    padding-inline: 0.8vw;
    box-shadow: 1px 1px 10px rgb(13, 224, 178);
    transition-duration: 1s;
}

button:hover{
    box-shadow: 1px 1px 25px aqua;
    background-color: rgb(25, 25, 25);
}